.quicksand-regular {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #F7F7F7;
}

.display-flex {
  display: flex;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}

.navbar,
.banner {
  max-width: 1200px;
  margin: 0 auto;
}

.nav-first {
  display: flex;
  align-items: center;
  gap: 17px;
  font-size: 1.75rem;
  font-style: normal;
  color: #111;

}

.nav-first>img {
  width: 62px;
  height: 62px;
}

nav>ul {
  list-style: none;
  font-size: 1.25rem;
  font-weight: 500;
}

.nav-item {
  margin-right: 32px;
}

.nav-link {
  text-decoration: none;
}

.btn-1 {
  width: 180px;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #FEA301;
  border: 1px solid #FEA301;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.banner-content {
  max-width: 640px;

}

.banner>img {
  width: 40%;
  height: 40%;
}

.banner-title {
  font-size: 3.5rem;
  font-weight: 700;
}

.banner-p {
  color: #111;
  font-size: 1.25rem;
  font-weight: 400;
}

.btn-2 {
  width: 197px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: #111;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 700;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background-image: url('assets/bg.png');
  background-repeat: no-repeat;
}

.background {
  background-image: url('assets/bg.png');
  background-repeat: no-repeat;
}

.standard {
  text-align: center;
  color: #000;
  font-size: 2.6rem;
  font-weight: 700;
  padding-top: 60px;
  padding-bottom: 40px;
}

.three-curriculam {
  display: flex;
  gap: 32px;
}

.curriculam {
  text-align: center;
  padding: 52.819px 38.668px 53.762px 38.878px;
  width: 33%;
  border-radius: 18.864px;
  box-shadow: 0px 0px 28.296px 0.943px rgba(0, 0, 0, 0.05) inset;
}

.curriculam-title {
  color: #202020;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.curriculam-description {
  color: #808080;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

.btn-3 {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

.two-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 40px;
}

.round-button {
  text-align: center;
  width: 60px;
  height: 60px;
  padding: 17px 0px 19px 0px;
  border-radius: 30px;
  background: #FEA301;
  border: #FEA301;
  color: #FFF;
  font-size: 2rem;
  font-weight: 700;
}

.stories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 19.174px;
  column-gap: 19.174px;
}
.story-img{
  border-radius: 16px 16px 0px 0px;
}
.story-1 {
  align-items: center;
  border-radius: 16px;
  background: #FFF;
}
.story-rest{
  justify-content: center;
  padding: 0px 2px 2px 2px;
  border-radius: 16px;
  background: #FFF;
}
/*responsive media query*/
@media screen and(max-width:576px) {
  nav > ul{
    height: 1px;            
    background: #ccc;
    width: 100%;             
  }

}